<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<main>
    <h1> My Receipts </h1>
    <table>
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>
            {% for receipts in receipts %}
            <tr>
                <td>{{receipts.vendor}}</td>
                <td>{{receipts.total}}</td>
                <td>{{receipts.tax}}</td>
                <td>{{receipts.date|date:"m/d/y"}}</td>
                <td>{{receipts.category.name}}</td>
                <td>{{receipts.account.name}}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>  
</body>
</html>